# Python
__pycache__/
*.pyc
*.pyo
/backend/__pycache__/config.cpython-312.pyc

# Node
node_modules/
PackSmart\tokens.txt

# Uploads & outputs
backend/uploads/


# Environment
/venv
.env


# OS files
.DS_Store
Thumbs.db
backend/outputs/
backend/uploaded_images/
# Heavy AI Models
# Catch-all for heavy binaries
*.pt
*.pth
backend/models/